Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:3.2.2
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview:1.3.0
    when:
      event: [pull_request, pull_request_closed]
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

add common issues section to help understand isometric projection
  web/_includes/common_issues.md
  web/media/projection_example.png
Due: web, preview-web, deploy-web

0.47.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.Goals.MemoryType.yml
  docs/api/TinyLife.Relationship.yml
  docs/api/TinyLife.SaveHandler.yml
  docs/api/TinyLife.Tools.MoveLotTool.yml
  docs/api/TinyLife.Uis.Menus.yml
  docs/api/TinyLife.World.ExportedHousehold.yml
  docs/api/TinyLife.World.ExportedLot.yml
  docs/api/TinyLife.World.Lot.yml
Due: docs, preview, deploy

phase out the tiny life twitter page
  web/_includes/social.html
  web/_includes/top.html
  web/_layouts/default.html
Due: web, preview-web, deploy-web

common issue info about using a keyboard with steam deck
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

document the proper workaround for the steam deck keyboard issue
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

clear in-game news
  InGameNews.md
Due: docs, preview, deploy

don't copy recursive for single files
  web/_plugins/copy_changelog_news.rb
Due: web, preview-web, deploy-web

also added the credits from the main menu to the website
  web/_data/credits.json
  web/_includes/footer.html
  web/credits.html
  web/style.css
Due: web, preview-web, deploy-web

rename credits json to make clear that it's a copy
  .gitignore
  web/_data/__credits.json
  web/credits.html
Due: web, preview-web, deploy-web

add descriptions for credits sections
  web/_data/__credits.json
  web/credits.html
Due: web, preview-web, deploy-web

added docs info about cheat update
  docs/articles/cheats.md
Due: docs, preview, deploy

0.47.6
  Changelog.md
Due: docs, preview, deploy

0.47.7
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.World.AutoTile.yml
  docs/api/TinyLife.World.Tile.yml
  docs/api/TinyLife.World.TileInstance.yml
  docs/api/TinyLife.World.WaterTile.yml
Due: docs, preview, deploy

add prde in-game news
  InGameNews.md
  media/news/Pride.png
Due: docs, preview, deploy

note about naming in the mod basics
  docs/articles/mod_basics.md
Due: docs, preview, deploy

clarify monetization section
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

add review news
  InGameNews.md
Due: docs, preview, deploy

fixed outdated laying pose for babies in docs
  docs/media/person.png
Due: docs, preview, deploy

add new set sneak peek
  InGameNews.md
  media/news/OutAndAboutPreview2.png
Due: docs, preview, deploy

0.47.9
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.Action.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.ChangeOutfitIntentionAction.yml
  docs/api/TinyLife.Actions.yml
  docs/api/TinyLife.ColorSelectionOrder.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.MapInfo.yml
  docs/api/TinyLife.Music.yml
  docs/api/TinyLife.Objects.Clothes.yml
  docs/api/TinyLife.Objects.ClothesLayer.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Options.yml
  docs/api/TinyLife.PerSaveOptions.yml
  docs/api/TinyLife.PlayModeMusicFrequency.yml
  docs/api/TinyLife.Utilities.ColorScheme.yml
  docs/api/TinyLife.World.Household.RandomConstellation.yml
  docs/api/TinyLife.World.Map.LoadStaticMapDelegate.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.Soundscape.yml
  docs/api/TinyLife.yml
  docs/api/toc.yml
Due: docs, preview, deploy

update in-game news
  InGameNews.md
Due: docs, preview, deploy

challenge idea
  InGameNews.md
  media/news/Challenges.png
Due: docs, preview, deploy

fixed bluesky embed script breaking jquery later on
  web/_includes/devlog_category.html
  web/_includes/navbar.html
Due: web, preview-web, deploy-web

fix body sprite template for children
  docs/media/person.png
Due: docs, preview, deploy

update color scheme texture info
  docs/articles/creating_textures.md
  docs/media/color_schemes.png
Due: docs, preview, deploy

update in-game news
  InGameNews.md
  media/news/Streams.png
Due: docs, preview, deploy

run link checker on schedule rather than on push to avoid rate limiting
  .github/workflows/checks.yml
Due: none

less url checker configuration
  .github/workflows/checks.yml
Due: none

more aggressive link checking lol
  .github/workflows/checks.yml
Due: none

further configure url checker
  .github/workflows/checks.yml
Due: none

url checker doesn't expose versions bleh
  .github/workflows/checks.yml
Due: none

bleh
  .github/workflows/checks.yml
Due: none

add documentation about how to use aseprite for texture editing
  docs/articles/creating_textures.md
  docs/media/aseprite_export.png
  docs/media/aseprite_layers.png
Due: docs, preview, deploy

out&about announcement
  InGameNews.md
  media/news/OutAndAboutAnnouncement.png
Due: docs, preview, deploy

use tracking links >:3
  InGameNews.md
Due: docs, preview, deploy
