Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:3.2.2
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview:1.3.0
    when:
      event: [pull_request, pull_request_closed]
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

0.41.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.DiscardHeldItemAction.yml
  docs/api/TinyLife.Actions.PathfindAction.yml
  docs/api/TinyLife.Actions.TalkAction.TalkSettings.EvaluationResult.yml
  docs/api/TinyLife.Actions.TalkAction.TalkSettings.yml
  docs/api/TinyLife.Actions.TalkAction.yml
  docs/api/TinyLife.GenealogyType.yml
  docs/api/TinyLife.Goals.MemoryType.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Relationship.yml
  docs/api/TinyLife.RelationshipType.yml
  docs/api/TinyLife.RomanceType.yml
  docs/api/TinyLife.Uis.InGameHint.yml
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
  docs/api/TinyLife.World.ExportedHousehold.yml
  docs/api/TinyLife.World.Household.RandomConstellation.yml
  docs/api/TinyLife.World.Household.RandomRelation.yml
  docs/api/TinyLife.World.Household.Relation.yml
  docs/api/TinyLife.World.Household.yml
  docs/api/TinyLife.World.LotType.yml
Due: docs, preview, deploy

added a cookie notification to the website
  web/_includes/cookie.html
  web/_layouts/default.html
  web/style.css
Due: web, preview-web, deploy-web

actions: automatically purge CF caches
  .github/workflows/build.yml
Due: none

updated dependencies
  docs/.config/dotnet-tools.json
  web/Gemfile
  web/Gemfile.lock
Due: docs, preview, deploy, web, preview-web, deploy-web

force twitter widget to be full height
  web/style.css
Due: web, preview-web, deploy-web

width isn't an issue
  web/style.css
Due: web, preview-web, deploy-web

removed the community showcase site for now
  web/.htaccess
  web/_data/community_content.json
  web/_data/community_sections.json
  web/_includes/indexnav.html
  web/community.html
  web/media/community/business-rivals.png
  web/media/community/cute-tinies-in-love.png
  web/media/community/field-iris.png
  web/media/community/grape-sorbet.png
  web/media/community/itty-for-tiny-life.png
  web/media/community/market-town.png
  web/media/community/paradise-island.png
  web/media/community/simple-object-loader.png
  web/media/community/study-brand.png
  web/media/community/study-brewed.png
  web/media/community/study-cafe.png
  web/media/community/swift-brew-coffee.png
  web/media/community/tinies-in-the-nineties.png
  web/media/community/vista-blue.png
  web/media/community/yellore-s-cottage.png
  web/style.css
Due: web, preview-web, deploy-web

remove community showcase mention from modding tutorials
  docs/articles/community_mod_tutorials.md
Due: docs, preview, deploy

added blog categories
  web/.htaccess
  web/_includes/blognav.html
  web/_includes/devlogs.html
  web/_includes/indexnav.html
  web/_posts/0.23.0/2022-07-04-0.23.0.md
  web/_posts/0.24.0/2022-07-28-0.24.0.md
  web/_posts/0.25.0/2022-09-05-0.25.0.md
  web/_posts/0.26.0/2022-10-18-0.26.0.md
  web/_posts/0.27.0/2022-11-12-0.27.0.md
  web/_posts/0.28.0/2022-12-20-0.28.0.md
  web/_posts/0.29.0/2023-01-16-0.29.0.md
  web/_posts/0.30.0/2023-03-31-0.30.0.md
  web/_posts/0.34.0/2023-06-25-0.34.0.md
  web/_posts/0.35.0/2023-07-20-0.35.0.md
  web/_posts/0.36.0/2023-08-15-0.36.0.md
  web/_posts/0.37.0/2023-10-25-0.37.0.md
  web/_posts/0.38.0/2023-12-06-0.38.0.md
  web/_posts/0.39.0/2024-02-02-0.39.0.md
  web/_posts/0.40.0/2024-03-09-0.40.0.md
  web/_posts/0.41.0/2024-04-14-0.41.0.md
  web/_posts/2021-06-05-0.11.0.md
  web/_posts/2021-06-17-0.12.0.md
  web/_posts/2021-07-06-0.13.0.md
  web/_posts/2021-07-15-0.14.0.md
  web/_posts/2021-07-27-0.15.0.md
  web/_posts/2021-08-30-0.16.0.md
  web/_posts/2021-10-14-0.17.0.md
  web/_posts/2021-11-23-0.18.0.md
  web/_posts/2022-01-01-0.19.0.md
  web/_posts/2022-03-09-0.20.0.md
  web/_posts/2022-05-24-0.21.0.md
  web/_posts/launch_postmortem/2023-05-19-launch_postmortem.md
  web/_posts/tt_actions/2023-02-10-tt_actions.md
  web/_posts/tt_pronouns/2023-04-15-tt_pronouns.md
  web/style.css
Due: web, preview-web, deploy-web

move posts to /posts directory
  web/.htaccess
  web/_config.yaml
Due: web, preview-web, deploy-web

reorder posts categories
  web/_includes/devlog_category.html
  web/_includes/devlogs.html
Due: web, preview-web, deploy-web

added images to post list
  web/_includes/devlog_category.html
  web/_posts/0.23.0/2022-07-04-0.23.0.md
  web/_posts/0.24.0/2022-07-28-0.24.0.md
  web/_posts/0.25.0/2022-09-05-0.25.0.md
  web/_posts/0.26.0/2022-10-18-0.26.0.md
  web/_posts/0.27.0/2022-11-12-0.27.0.md
  web/_posts/0.28.0/2022-12-20-0.28.0.md
  web/_posts/0.29.0/2023-01-16-0.29.0.md
  web/_posts/0.30.0/2023-03-31-0.30.0.md
  web/_posts/0.34.0/2023-06-25-0.34.0.md
  web/_posts/0.35.0/2023-07-20-0.35.0.md
  web/_posts/0.36.0/2023-08-15-0.36.0.md
  web/_posts/0.37.0/2023-10-25-0.37.0.md
  web/_posts/0.38.0/2023-12-06-0.38.0.md
  web/_posts/0.39.0/2024-02-02-0.39.0.md
  web/_posts/0.40.0/2024-03-09-0.40.0.md
  web/_posts/0.41.0/2024-04-14-0.41.0.md
  web/_posts/2021-06-05-0.11.0.md
  web/_posts/2021-06-17-0.12.0.md
  web/_posts/2021-07-06-0.13.0.md
  web/_posts/2021-07-15-0.14.0.md
  web/_posts/2021-07-27-0.15.0.md
  web/_posts/2021-08-30-0.16.0.md
  web/_posts/2021-10-14-0.17.0.md
  web/_posts/2021-11-23-0.18.0.md
  web/_posts/2022-01-01-0.19.0.md
  web/_posts/2022-03-09-0.20.0.md
  web/_posts/2022-05-24-0.21.0.md
  web/_posts/launch_postmortem/2023-05-19-launch_postmortem.md
  web/_posts/tt_actions/2023-02-10-tt_actions.md
  web/_posts/tt_pronouns/2023-04-15-tt_pronouns.md
  web/style.css
Due: web, preview-web, deploy-web

make css expire more quickly
  web/.htaccess
Due: web, preview-web, deploy-web

update css
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

also assign max width to image
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

use 100% width for devlog images
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

wrap the devlog image in a div to hopefully make firefox mobile happy
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

turns out firefox doesn't like *just* a max width (apparently)
  web/style.css
Due: web, preview-web, deploy-web

this is the least fun i've ever had with web design
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

this is my last attempt and if this doesn't work i'll just cry instead
  web/style.css
Due: web, preview-web, deploy-web

made itch and steam links optional
  web/_includes/devlog_category.html
  web/_layouts/blog.html
Due: web, preview-web, deploy-web

flip wording
  web/_layouts/blog.html
Due: web, preview-web, deploy-web

add emoji to blog categories
  web/_includes/devlog_category.html
  web/_includes/devlogs.html
Due: web, preview-web, deploy-web

added some more older posts
  web/_posts/2021-02-18-0.7.0.md
  web/_posts/2021-03-27-0.8.0.md
  web/_posts/2021-04-30-0.9.0.md
  web/_posts/2021-05-17-0.10.0.md
  web/_posts/2021-05-22-0.10.1.md
Due: web, preview-web, deploy-web

added remaining archive of itch posts
  web/_posts/2020-11-28-0.2.2.md
  web/_posts/2020-12-04-0.2.3.md
  web/_posts/2020-12-09-0.3.0.md
  web/_posts/2020-12-20-0.3.1.md
  web/_posts/2021-01-06-0.4.0.md
  web/_posts/2021-01-11-0.5.0.md
  web/_posts/2021-01-27-0.6.0.md
Due: web, preview-web, deploy-web

reduce empty space in compiled blog html
  web/_includes/devlog_category.html
Due: web, preview-web, deploy-web

added "show more" button to posts sections
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web

clarify show more button
  web/_includes/devlog_category.html
Due: web, preview-web, deploy-web

made the more button bold
  web/_includes/devlog_category.html
Due: web, preview-web, deploy-web

fixed a missing space
  web/_includes/devlog_category.html
Due: web, preview-web, deploy-web

in-game news abt outright event
  InGameNews.md
  media/news/outright.png
Due: docs, preview, deploy

it's lowercase but windows doesn't care lmao
  InGameNews.md
Due: docs, preview, deploy

0.42.0
  Changelog.md
  media/changelog/0.42.0.png
  web/_posts/0.42.0/2024-06-09-0.42.0.md
  web/_posts/0.42.0/Cover.png
  web/_posts/0.42.0/Outright.png
  web/_posts/0.42.0/Tiny_Life_VbC3mF5PUa.png
  web/_posts/0.42.0/Tiny_Life_cGXt44bbiS.png
  web/_posts/0.42.0/Tiny_Life_fowcMrb7bM.png
  web/_posts/0.42.0/Tiny_Life_kUitPsLRuj.png
  web/_posts/0.42.0/Tiny_Life_m1We3L45FI.png
Due: docs, preview, deploy, web, preview-web, deploy-web

add info about the feedback form to the common issues article
  web/_includes/common_issues.md
  web/media/common_issues.png
Due: web, preview-web, deploy-web

re-word the new section
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

0.42.1
  Changelog.md
Due: docs, preview, deploy

0.42.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
  docs/api/TinyLife.World.DrawDelegate.yml
  docs/api/TinyLife.World.LotEmployment.Instance.yml
  docs/api/TinyLife.World.LotEmployment.yml
  docs/api/TinyLife.World.Map.PathfindingNodeConstructDelegate.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.ObjectUpdateDelegate-1.yml
  docs/api/TinyLife.World.ObjectUpdateDelegateNoPhase-1.yml
  docs/api/TinyLife.World.UpdateDelegate.yml
  docs/api/TinyLife.World.UpdateDelegateNoPhase.yml
Due: docs, preview, deploy

0.42.4
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.DebugAction.yml
  docs/api/TinyLife.Debug.CheatDelegate.yml
  docs/api/TinyLife.Debug.DebugDelegate.yml
  docs/api/TinyLife.Debug.yml
  docs/api/TinyLife.Mods.ModInfo.yml
  docs/api/TinyLife.SaveHandler.SaveData.yml
  docs/api/TinyLife.SaveHandler.yml
  docs/api/TinyLife.Utilities.Extensions.yml
  docs/articles/cheats.md
  web/_includes/common_issues.md
Due: docs, preview, deploy, web, preview-web, deploy-web
