Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

docs:
  steps:
    build:
      image: mcr.microsoft.com/dotnet/sdk:7.0.305
      commands:
      - cd docs && dotnet tool restore && dotnet docfx
    preview:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: docs/_site
        surge_token:
  ...

preview:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: docs/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifedocs/*
  - cp -rv docs/_site/. /var/www/tinylifedocs
  volumes:
  - /var/www/tinylifedocs:/var/www/tinylifedocs

web:
  steps:
    build-web:
      image: ruby:3.2.2
      commands:
      - cd web && bundle && bundle exec jekyll build
    preview-web:
      image: woodpeckerci/plugin-surge-preview:1.3.0
      when:
        event:
        - pull_request
        - pull_request_closed
      settings:
        path: web/_site
        surge_token:
  ...

preview-web:
  image: woodpeckerci/plugin-surge-preview:1.3.0
  settings:
    path: web/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy-web:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifegame/*
  - cp -rv web/_site/. /var/www/tinylifegame
  volumes:
  - /var/www/tinylifegame:/var/www/tinylifegame

fixed footer links on subpages
  web/_includes/footer.html
Due: web, preview-web, deploy-web

improve the look of the common issues page
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

increase timeout and retry count for url checks (since instagram seems to be weird abt it)
  .github/workflows/checks.yml
Due: none

improve display of tall images
  web/style.css
Due: web, preview-web, deploy-web

reflect example mod task rename in docs
  docs/articles/mod_basics.md
Due: docs, preview, deploy

link to the actual thread in the sample code section on goals
  docs/articles/sample_code.md
Due: docs, preview, deploy

mention the tiny life forum channel as a distribution location
  docs/articles/custom_maps.md
  docs/articles/mod_basics.md
Due: docs, preview, deploy

run ci with .net 8
  .github/workflows/build.yml
Due: none

various footer improvements
  docs/articles/getting.md
  docs/docfx.json
  web/_includes/footer.html
Due: docs, preview, deploy, web, preview-web, deploy-web

added mod disclaimer to the website too
  docs/articles/getting.md
Due: docs, preview, deploy

clean up callout
  docs/articles/getting.md
Due: docs, preview, deploy

fixed favicon and logo not loading properly
  docs/docfx.json
  docs/favicon.ico
  docs/logo.svg
  docs/media/logo.png
Due: docs, preview, deploy

cleaned up community tutorials section a bit
  docs/articles/community_resources.md
  docs/articles/creating_textures.md
  docs/articles/mod_basics.md
  docs/media/iso_layout.aseprite
  docs/media/iso_layout.png
  docs/media/iso_layout_large.png
Due: docs, preview, deploy

0.46.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.WorkAction.yml
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.Emotions.IEmotionSource.yml
  docs/api/TinyLife.Emotions.TextEmotionSource.yml
  docs/api/TinyLife.Emotions.yml
  docs/api/TinyLife.Goals.AmountGoal.yml
  docs/api/TinyLife.Goals.AutoGoalInfo.yml
  docs/api/TinyLife.Goals.DistinctGoal-1.yml
  docs/api/TinyLife.Goals.GoalTrigger-2.yml
  docs/api/TinyLife.Goals.GoalTrigger-3.yml
  docs/api/TinyLife.Goals.GoalTrigger-4.yml
  docs/api/TinyLife.Goals.GoalTrigger.yml
  docs/api/TinyLife.Goals.IGoalTriggerable.yml
  docs/api/TinyLife.Goals.LifeGoal.yml
  docs/api/TinyLife.Goals.MemoryType.yml
  docs/api/TinyLife.Mods.Mod.yml
  docs/api/TinyLife.Mods.ModInfo.yml
  docs/api/TinyLife.Objects.Bathtub.yml
  docs/api/TinyLife.Objects.BreakableFurniture.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.ScreenObject.yml
  docs/api/TinyLife.Objects.Television.yml
  docs/api/TinyLife.PersonalityType.yml
  docs/api/TinyLife.Skills.Skill.yml
  docs/api/TinyLife.Uis.InGameHint.yml
  docs/api/TinyLife.Utilities.ColorScheme.yml
  docs/api/TinyLife.Utilities.Extensions.yml
  docs/api/TinyLife.WindowMode.yml
  docs/api/TinyLife.yml
  docs/api/toc.yml
Due: docs, preview, deploy

mention title case in the localization docs
  docs/articles/localization.md
Due: docs, preview, deploy

review news
  InGameNews.md
  media/news/PostReview.png
Due: docs, preview, deploy

added another very serious review to the website
  web/_data/reviews.json
Due: web, preview-web, deploy-web

add news about the lovely reviews <3
  InGameNews.md
  media/news/LovelyReviews.png
Due: docs, preview, deploy

clean up the in-game news section on the website
  web/ingamenews.html
  web/style.css
Due: web, preview-web, deploy-web

remove hateful reviews news bc yall are amazing <3
  InGameNews.md
Due: docs, preview, deploy

clear in-game news
  InGameNews.md
Due: docs, preview, deploy

some more localization notes
  docs/articles/localization.md
Due: docs, preview, deploy

reordered reviews
  web/_data/reviews.json
Due: web, preview-web, deploy-web

improve documentation section styling
  docs/overrides/public/main.css
Due: docs, preview, deploy

Only use one worker for the link checker
  .github/workflows/checks.yml
Due: none

improve random name likelihood system
  docs/articles/localization.md
Due: docs, preview, deploy

reorganize the roadmap a little bit
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

add missing environment data
  .github/workflows/build.yml
Due: none

0.47.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.TalkAction.yml
  docs/api/TinyLife.Objects.Bathtub.yml
  docs/api/TinyLife.Objects.Book.yml
  docs/api/TinyLife.Objects.BreakableFurniture.yml
  docs/api/TinyLife.Objects.Chimney.yml
  docs/api/TinyLife.Objects.CornerFurniture.Counter.yml
  docs/api/TinyLife.Objects.CornerFurniture.yml
  docs/api/TinyLife.Objects.Fence.yml
  docs/api/TinyLife.Objects.Fireplace.yml
  docs/api/TinyLife.Objects.Food.yml
  docs/api/TinyLife.Objects.FoodTypedItem.yml
  docs/api/TinyLife.Objects.Fridge.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.Gravestone.yml
  docs/api/TinyLife.Objects.IBreakableObject.yml
  docs/api/TinyLife.Objects.LightFurniture.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.Newspaper.yml
  docs/api/TinyLife.Objects.ObjectCategory.yml
  docs/api/TinyLife.Objects.OverlayWallHanging.yml
  docs/api/TinyLife.Objects.Painting.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.ScreenObject.yml
  docs/api/TinyLife.Objects.Television.yml
  docs/api/TinyLife.Objects.TrashBag.yml
  docs/api/TinyLife.Objects.TrashCan.yml
  docs/api/TinyLife.Objects.UnfinishedWoodwork.yml
  docs/api/TinyLife.Objects.Vehicle.yml
  docs/api/TinyLife.World.LotType.yml
Due: docs, preview, deploy

0.47.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.Action.yml
  docs/api/TinyLife.Actions.ActionType.AiSettings.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.BehaviorAction-1.yml
  docs/api/TinyLife.Actions.BehaviorAction.yml
  docs/api/TinyLife.Actions.CleanEverythingAction.yml
  docs/api/TinyLife.Actions.DebugAction.yml
  docs/api/TinyLife.Actions.DeferredAction.yml
  docs/api/TinyLife.Actions.DieAction.yml
  docs/api/TinyLife.Actions.DiscardHeldItemAction.yml
  docs/api/TinyLife.Actions.DriveAction.yml
  docs/api/TinyLife.Actions.GoHereAction.yml
  docs/api/TinyLife.Actions.HelpAction.yml
  docs/api/TinyLife.Actions.HoldingPersonAction.yml
  docs/api/TinyLife.Actions.MultiAction.yml
  docs/api/TinyLife.Actions.OrderFromStaffAction.yml
  docs/api/TinyLife.Actions.OutOfTownAction.yml
  docs/api/TinyLife.Actions.PathfindAction.yml
  docs/api/TinyLife.Actions.PathfindToPersonAction.yml
  docs/api/TinyLife.Actions.PutAwayAction.yml
  docs/api/TinyLife.Actions.SellAction.yml
  docs/api/TinyLife.Actions.SimpleBehaviorAction.yml
  docs/api/TinyLife.Actions.SitAction.yml
  docs/api/TinyLife.Actions.SocialAction.StartPartnerAction.yml
  docs/api/TinyLife.Actions.SocialAction.yml
  docs/api/TinyLife.Actions.StartTogetherAction.yml
  docs/api/TinyLife.Actions.StoreAction.yml
  docs/api/TinyLife.Actions.TalkAction.TalkSettings.yml
  docs/api/TinyLife.Actions.TalkAction.yml
  docs/api/TinyLife.Actions.TellPeopleToLeaveRoomAction.yml
  docs/api/TinyLife.Actions.TryGoHereAction.yml
  docs/api/TinyLife.Actions.WalkAction.yml
  docs/api/TinyLife.Actions.WatchTvAction.yml
  docs/api/TinyLife.Actions.WorkAction.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.Objects.ObjectCategory.yml
  docs/api/TinyLife.Options.yml
Due: docs, preview, deploy

additional docs about talk actions
  docs/articles/sample_code.md
Due: docs, preview, deploy

added info about custom object categories and migrations to the sample docs
  docs/articles/sample_code.md
Due: docs, preview, deploy

some more on migrations
  docs/articles/sample_code.md
Due: docs, preview, deploy

fix up links to tector's instagram
  Changelog.md
  web/_posts/2021-06-17-0.12.0.md
  web/_posts/2021-07-06-0.13.0.md
  web/_posts/2022-03-09-0.20.0.md
Due: docs, preview, deploy, web, preview-web, deploy-web

added in-game news about patreon/ko-fi
  InGameNews.md
  media/news/Support.png
Due: docs, preview, deploy

announce the new set
  InGameNews.md
  media/news/OutAndAboutPreview.png
Due: docs, preview, deploy

added custom ui example
  docs/articles/sample_code.md
Due: docs, preview, deploy

Path conditions:
  docs: any of: docs/**, Changelog.md, InGameNews.md
  preview: any of: docs/**, Changelog.md, InGameNews.md
  deploy: any of: docs/**, Changelog.md, InGameNews.md
  web: any of: web/**
  preview-web: any of: web/**
  deploy-web: any of: web/**
