Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

docs:
  steps:
    build:
      image: mcr.microsoft.com/dotnet/sdk:7.0.305
      commands:
      - cd docs && dotnet tool restore && dotnet docfx
    preview:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: docs/_site
        surge_token:
  ...

preview:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: docs/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifedocs/*
  - cp -rv docs/_site/. /var/www/tinylifedocs
  volumes:
  - /var/www/tinylifedocs:/var/www/tinylifedocs

web:
  steps:
    build-web:
      image: ruby:3.2.2
      commands:
      - cd web && bundle && bundle exec jekyll build
    preview-web:
      image: woodpeckerci/plugin-surge-preview:1.3.0
      when:
        event:
        - pull_request
        - pull_request_closed
      settings:
        path: web/_site
        surge_token:
  ...

preview-web:
  image: woodpeckerci/plugin-surge-preview:1.3.0
  settings:
    path: web/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy-web:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifegame/*
  - cp -rv web/_site/. /var/www/tinylifegame
  volumes:
  - /var/www/tinylifegame:/var/www/tinylifegame

test commit
  web/_includes/about.html
Due: web, preview-web, deploy-web

update copyright year
  docs/docfx.json
  web/_layouts/default.html
Due: docs, preview, deploy, web, preview-web, deploy-web

info about localization max width
  docs/articles/localization.md
Due: docs, preview, deploy

sorted information in the localization article
  docs/articles/localization.md
Due: docs, preview, deploy

notes about tinies in dutch
  docs/articles/localization.md
Due: docs, preview, deploy

0.40.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.GoHereAction.yml
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.Person.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.Person.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.Person.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.Person.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.Person.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.Person.SkillBoostDelegate.yml
  docs/api/TinyLife.Objects.Person.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
Due: docs, preview, deploy

added paradise island
  web/_data/community_content.json
  web/media/community/paradise-island.png
Due: web, preview-web, deploy-web

clean up custom maps doc
  docs/articles/custom_maps.md
Due: docs, preview, deploy

move the roadmap around a bit
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

oop
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

added links to wiki
  docs/toc.yml
  web/_includes/indexnav.html
Due: docs, preview, deploy, web, preview-web, deploy-web

rename documentation to developer docs
  web/_includes/top.html
Due: web, preview-web, deploy-web

clean up index and readme
  README.md
  docs/index.md
  docs/toc.yml
Due: docs, preview, deploy

fix wording
  docs/index.md
Due: docs, preview, deploy

in the repository
  docs/index.md
Due: docs, preview, deploy

further contribution info
  docs/index.md
Due: docs, preview, deploy

(dirty hack to) display the in-game news and changelog on the website
  .gitignore
  docs/.htaccess
  docs/docfx.json
  web/Gemfile.lock
  web/_includes/basicnav.html
  web/_layouts/blog.html
  web/_plugins/copy_changelog_news.rb
  web/changelog.html
  web/news.html
  web/style.css
Due: docs, preview, deploy, web, preview-web, deploy-web

fixed outdated gemfile
  web/Gemfile.lock
Due: web, preview-web, deploy-web

actually enable rewrites
  docs/.htaccess
Due: docs, preview, deploy

removed changelog from the toc
  docs/toc.yml
Due: docs, preview, deploy

rename news to ingamenews
  web/ingamenews.html
Due: web, preview-web, deploy-web

made in-game news message italics
  web/ingamenews.html
Due: web, preview-web, deploy-web

renamed docs to developer docs
  docs/docfx.json
Due: docs, preview, deploy

fixed old ingame news link
  docs/.htaccess
Due: docs, preview, deploy

added wiki news
  InGameNews.md
  media/news/Wiki.png
  web/changelog.html
  web/ingamenews.html
Due: docs, preview, deploy, web, preview-web, deploy-web

added market town to community
  web/_data/community_content.json
  web/media/community/market-town.png
Due: web, preview-web, deploy-web

update wiki news
  InGameNews.md
  media/news/Wiki.png
Due: docs, preview, deploy

shuffle around the news a bit
  InGameNews.md
Due: docs, preview, deploy

updated market town splash
  web/media/community/market-town.png
Due: web, preview-web, deploy-web

clear wiki news
  InGameNews.md
Due: docs, preview, deploy

moved common issues, preview version info, and the community policy, to the normal website
  docs/.htaccess
  docs/articles/toc.yml
  web/_includes/common_issues.md
  web/_includes/content_policy.md
  web/_includes/preview.md
  web/common_issues.html
  web/content_policy.html
  web/media/previews_steam_1.png
  web/media/previews_steam_2.png
  web/preview.html
Due: docs, preview, deploy, web, preview-web, deploy-web

updated policy history link
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

fixed redirects
  docs/.htaccess
Due: docs, preview, deploy

improved styling & made subsites less wide
  web/_layouts/blog.html
  web/changelog.html
  web/common_issues.html
  web/community.html
  web/content_policy.html
  web/ingamenews.html
  web/preview.html
  web/style.css
Due: web, preview-web, deploy-web

0.41.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.GameImpl.GameMode.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.GameSpeed.yml
  docs/api/TinyLife.Goals.Achievement.yml
  docs/api/TinyLife.Goals.AchievementType.yml
  docs/api/TinyLife.Goals.GoalTrigger.yml
  docs/api/TinyLife.Objects.FoodTypedItem.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.ObjectCategory.yml
  docs/api/TinyLife.Objects.ParentInfo.AttachmentType.yml
  docs/api/TinyLife.Objects.ParentInfo.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.TrashCan.yml
  docs/api/TinyLife.Objects.Visibility.yml
  docs/api/TinyLife.PerSaveOptions.MapInfo.yml
  docs/api/TinyLife.PerSaveOptions.yml
  docs/api/TinyLife.Set.yml
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
  docs/api/TinyLife.WallDisplay.yml
Due: docs, preview, deploy

some roadmap updates
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

hmm
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

elaborate on the verbose argument for translation testing
  docs/articles/localization.md
Due: docs, preview, deploy

Path conditions:
  docs: any of: docs/**, Changelog.md, InGameNews.md
  preview: any of: docs/**, Changelog.md, InGameNews.md
  deploy: any of: docs/**, Changelog.md, InGameNews.md
  web: any of: web/**
  preview-web: any of: web/**
  deploy-web: any of: web/**
