Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:3.2.2
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview:1.3.0
    when:
      event: [pull_request, pull_request_closed]
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

added a docs article on launch arguments
  docs/articles/cheats.md
  docs/articles/launch_args.md
  docs/articles/toc.yml
Due: docs, preview, deploy

0.48.0
  Changelog.md
  media/changelog/0.48.0.png
  web/_posts/0.48.0/2025-09-23-0.48.0.md
  web/_posts/0.48.0/25-09-23_16-00-54.png
  web/_posts/0.48.0/25-09-23_16-02-43.png
  web/_posts/0.48.0/Thumbnail.png
  web/_posts/0.48.0/TinyLife_JY3oc32AzL.png
  web/_posts/0.48.0/TinyLife_bqmZVdeFT5.png
Due: docs, preview, deploy, web, preview-web, deploy-web

clear in-game news
  InGameNews.md
Due: docs, preview, deploy

add feature survey to news
  InGameNews.md
Due: docs, preview, deploy

0.48.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.TypeSettings.yml
  docs/api/TinyLife.Objects.FurnitureType.TypeSettings.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Uis.CoveringGroup.yml
  docs/api/TinyLife.Utilities.ColorScheme.yml
Due: docs, preview, deploy

fix up incorrect .net 8 support link
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

0.48.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Objects.FurnitureType.yml
Due: docs, preview, deploy

update in-game news
  InGameNews.md
Due: docs, preview, deploy

also link-check website data
  .github/workflows/checks.yml
Due: none

update jekyll deps
  web/Gemfile.lock
Due: web, preview-web, deploy-web

link to the overhauled subreddit
  web/_includes/content_policy.md
  web/_includes/social.html
  web/_includes/top.html
Due: web, preview-web, deploy-web

added the ability for posts to specify a reddit link
  web/_includes/devlog_category.html
  web/_layouts/blog.html
Due: web, preview-web, deploy-web

improve show all posts behavior
  web/_includes/devlog_category.html
Due: web, preview-web, deploy-web

0.48.4
  Changelog.md
  docs/api/TinyLife.Objects.Bathtub.yml
  docs/api/TinyLife.Objects.Book.yml
  docs/api/TinyLife.Objects.CornerFurniture.yml
  docs/api/TinyLife.Objects.Fence.yml
  docs/api/TinyLife.Objects.Fireplace.yml
  docs/api/TinyLife.Objects.Food.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.IContainerObject-1.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.OverlayWallHanging.yml
  docs/api/TinyLife.Objects.Painting.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.ScreenObject.yml
  docs/api/TinyLife.Objects.TrashCan.yml
  docs/api/TinyLife.Objects.UnfinishedWoodwork.yml
  docs/api/TinyLife.Objects.Vehicle.yml
  docs/api/TinyLife.Uis.CoveringGroup.yml
  web/_data/__credits.json
Due: docs, preview, deploy, web, preview-web, deploy-web

0.48.5
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Options.yml
  docs/api/TinyLife.Tools.ColorTool.yml
  docs/api/TinyLife.Tools.FenceTool.yml
  docs/api/TinyLife.Tools.FurnitureTool.yml
  docs/api/TinyLife.Tools.LotTool.yml
  docs/api/TinyLife.Tools.MoveLotTool.yml
  docs/api/TinyLife.Tools.MoveTool.yml
  docs/api/TinyLife.Tools.OpeningTool.yml
  docs/api/TinyLife.Tools.PlayModeTool.yml
  docs/api/TinyLife.Tools.RemoveTool.yml
  docs/api/TinyLife.Tools.RoofTool.yml
  docs/api/TinyLife.Tools.StairsTool.yml
  docs/api/TinyLife.Tools.TileTool.yml
  docs/api/TinyLife.Tools.Tool.yml
  docs/api/TinyLife.Tools.WallTool.yml
  docs/api/TinyLife.Tools.WallpaperTool.yml
Due: docs, preview, deploy

0.48.6
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.TypeSettings.yml
  docs/api/TinyLife.Objects.Furniture.GetDirtyDelegate.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.yml
  docs/api/TinyLife.Options.yml
  docs/api/TinyLife.Uis.CoveringGroup.yml
  docs/api/toc.yml
Due: docs, preview, deploy

0.48.7
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Mods.Mod.yml
  docs/api/TinyLife.PerSaveOptions.yml
Due: docs, preview, deploy

update the footer to include the siow logo
  web/_includes/footer.html
  web/media/siow.png
Due: web, preview-web, deploy-web

resize and move around partner logos a bit
  web/_includes/footer.html
  web/media/game.png
Due: web, preview-web, deploy-web

better explain preview versions on itch
  web/_includes/preview.md
  web/media/previews_itch_1.png
  web/media/previews_itch_2.png
  web/media/previews_itch_3.png
Due: web, preview-web, deploy-web

added screenshots describing how to reach the data folder
  docs/articles/game_dir.md
  docs/media/game_dir_1.png
  docs/media/game_dir_2.png
  docs/overrides/public/main.css
Due: docs, preview, deploy

0.48.9
  Changelog.md
Due: docs, preview, deploy

use tracking links for in-game news
  InGameNews.md
Due: docs, preview, deploy

survey news item
  InGameNews.md
  media/news/Speed.png
Due: docs, preview, deploy

document the language-specific notes section a bit better
  docs/articles/localization.md
Due: docs, preview, deploy

link to country codes
  docs/articles/localization.md
Due: docs, preview, deploy

remove the speed survey news
  InGameNews.md
Due: docs, preview, deploy

fixed footer nav being included in toc nav
  web/_includes/blognav.html
  web/_includes/changelognav.html
Due: web, preview-web, deploy-web

update copyright year
  docs/docfx.json
  web/_includes/footer.html
Due: docs, preview, deploy, web, preview-web, deploy-web

tiny louvre community showcase!
  web/_posts/tiny_louvre/2026-01-04-making-tiny-louvre.md
  web/_posts/tiny_louvre/thumb.png
  web/_posts/tiny_louvre/tinylouvreconfirm.png
  web/_posts/tiny_louvre/tinylouvrecool.png
  web/_posts/tiny_louvre/tinylouvreinmenu.png
  web/_posts/tiny_louvre/tinylouvrelayering.png
  web/_posts/tiny_louvre/tinylouvrelayering2.png
  web/_posts/tiny_louvre/tinylouvrelayering3.png
Due: web, preview-web, deploy-web

added the cool post to in-game news too :)
  InGameNews.md
  media/news/TinyLouvre.png
Due: docs, preview, deploy

slight common issues reformat
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

create new maple plains screenshots
  web/media/large_background.png
  web/style.css
Due: web, preview-web, deploy-web

old man ell
  web/_posts/tiny_louvre/2026-01-04-making-tiny-louvre.md
Due: web, preview-web, deploy-web

added a big faq section to the website!
  web/_includes/faq.md
  web/_includes/footer.html
  web/_includes/indexnav.html
  web/faq.html
Due: web, preview-web, deploy-web

fix up nav
  web/common_issues.html
  web/faq.html
Due: web, preview-web, deploy-web
