Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:3.2.2
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview:1.3.0
    when:
      event: [pull_request, pull_request_closed]
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

added a link checking workflow
  .github/workflows/checks.yml
  Changelog.md
  web/_posts/0.29.0/2023-01-16-0.29.0.md
  web/_posts/2022-03-09-0.20.0.md
Due: docs, preview, deploy, web, preview-web, deploy-web

fixed link checker job's name
  .github/workflows/checks.yml
Due: none

mention email in localization docs
  docs/articles/localization.md
Due: docs, preview, deploy

info about the polish localization
  docs/articles/localization.md
Due: docs, preview, deploy

cleaned up docs, and added Yirggzmb's map tutorial
  docs/.htaccess
  docs/articles/cheats.md
  docs/articles/community_tutorials.md
  docs/articles/creating_textures.md
  docs/articles/game_dir.md
  docs/articles/getting.md
  docs/articles/mod_basics.md
  docs/articles/toc.yml
Due: docs, preview, deploy

updated docs
  Changelog.md
Due: docs, preview, deploy

Revert "updated docs" (this is not ready yet)
  Changelog.md
Due: docs, preview, deploy

link bluesky account on the website
  web/_includes/content_policy.md
  web/_includes/social.html
  web/_includes/top.html
Due: web, preview-web, deploy-web

retry the link checker a few times
  .github/workflows/checks.yml
Due: none

note new github gist with language errors
  docs/articles/localization.md
Due: docs, preview, deploy

added bluesky news post
  InGameNews.md
  media/news/Bsky.png
Due: docs, preview, deploy

replace the twitter embed with bsky
  web/_includes/social.html
  web/style.css
Due: web, preview-web, deploy-web

added some sample code for modders
  docs/articles/sample_code.md
  docs/articles/toc.yml
Due: docs, preview, deploy

added gindew's texture layout helper
  docs/articles/creating_textures.md
  docs/media/iso_layout.aseprite
  docs/media/iso_layout.png
  docs/media/iso_layout_large.png
Due: docs, preview, deploy

grammar
  docs/articles/creating_textures.md
Due: docs, preview, deploy

clarify sample code section license
  docs/articles/sample_code.md
Due: docs, preview, deploy

fixed the bsky embed showing a horizontal scrollbar on chromium
  web/_includes/social.html
Due: web, preview-web, deploy-web

added another review
  web/_data/reviews.json
Due: web, preview-web, deploy-web

fixed formatting
  web/_data/reviews.json
Due: web, preview-web, deploy-web

added Special Localization Strings docs section
  docs/articles/localization.md
Due: docs, preview, deploy

move language overrides to localization file
  docs/articles/localization.md
Due: docs, preview, deploy

restructured community resources page and added simple object loader mod
  docs/.htaccess
  docs/articles/community_resources.md
  docs/articles/mod_basics.md
  docs/articles/toc.yml
Due: docs, preview, deploy

oops
  docs/articles/community_resources.md
Due: docs, preview, deploy

fix link
  docs/articles/mod_basics.md
Due: docs, preview, deploy

0.45.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Localization.yml
Due: docs, preview, deploy

clear in-game news
  InGameNews.md
Due: docs, preview, deploy

added sample docs about fences, windows and doors
  docs/articles/sample_code.md
Due: docs, preview, deploy

preemptively document clothes texture changes in 0.45.2
  docs/articles/creating_textures.md
Due: docs, preview, deploy

provide a higher timeout to the link checker action
  .github/workflows/checks.yml
Due: none

clear up that lots can't be removed if you're building on them
  docs/articles/custom_maps.md
Due: docs, preview, deploy

0.45.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.DieAction.yml
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.Bathtub.yml
  docs/api/TinyLife.Objects.Book.yml
  docs/api/TinyLife.Objects.BreakableFurniture.yml
  docs/api/TinyLife.Objects.Chimney.yml
  docs/api/TinyLife.Objects.CornerFurniture.Counter.yml
  docs/api/TinyLife.Objects.CornerFurniture.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.Fence.yml
  docs/api/TinyLife.Objects.Fireplace.yml
  docs/api/TinyLife.Objects.Food.yml
  docs/api/TinyLife.Objects.FoodTypedItem.yml
  docs/api/TinyLife.Objects.Fridge.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.Gravestone.yml
  docs/api/TinyLife.Objects.LightFurniture.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.Newspaper.yml
  docs/api/TinyLife.Objects.OverlayWallHanging.yml
  docs/api/TinyLife.Objects.Painting.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.ScreenObject.yml
  docs/api/TinyLife.Objects.Television.yml
  docs/api/TinyLife.Objects.TrashBag.yml
  docs/api/TinyLife.Objects.TrashCan.yml
  docs/api/TinyLife.Objects.UnfinishedWoodwork.yml
  docs/api/TinyLife.Objects.Vehicle.yml
  docs/api/TinyLife.PersonalityType.yml
  docs/api/TinyLife.Utilities.Extensions.yml
  docs/api/toc.yml
Due: docs, preview, deploy

update outdated TeaMaki links
  Changelog.md
  web/_posts/0.30.0/2023-03-31-0.30.0.md
Due: docs, preview, deploy, web, preview-web, deploy-web

oops
  web/_posts/0.30.0/2023-03-31-0.30.0.md
Due: web, preview-web, deploy-web

fixed bluesky embed in light mode
  web/_includes/social.html
Due: web, preview-web, deploy-web

slight custom maps doc cleanup
  docs/articles/custom_maps.md
Due: docs, preview, deploy

clarify that the archive also ahs to have the map's name
  docs/articles/custom_maps.md
Due: docs, preview, deploy

slight visual improvements to the devlogs section
  web/_includes/devlog_category.html
  web/style.css
Due: web, preview-web, deploy-web
