Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

docs:
  steps:
    build:
      image: mcr.microsoft.com/dotnet/sdk:7.0.305
      commands:
      - cd docs && dotnet tool restore && dotnet docfx
    preview:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: docs/_site
        surge_token:
  ...

preview:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: docs/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifedocs/*
  - cp -rv docs/_site/. /var/www/tinylifedocs
  volumes:
  - /var/www/tinylifedocs:/var/www/tinylifedocs

web:
  steps:
    build-web:
      image: ruby:latest
      commands:
      - cd web && bundle && bundle exec jekyll build
    preview-web:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: web/_site
        surge_token:
          from_secret: surge_token
  ...

preview-web:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: web/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy-web:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifegame/*
  - cp -rv web/_site/. /var/www/tinylifegame
  volumes:
  - /var/www/tinylifegame:/var/www/tinylifegame

better workflow names
  .woodpecker/docs.yml
  .woodpecker/web.yml
Due: none

oh god
  .woodpecker/docs.yml
Due: none

sort community showcase items
  web/_data/community_content.json
  web/_data/community_sections.json
  web/community.html
Due: web, preview-web, deploy-web

fixed community nav
  web/_includes/communitynav.html
Due: web, preview-web, deploy-web

nineties time
  web/_data/community_content.json
  web/media/community/tinies-in-the-nineties.png
Due: web, preview-web, deploy-web

nineties time (#1)
  web/_data/community_content.json
  web/media/community/tinies-in-the-nineties.png
Due: web, preview-web, deploy-web

remove outdated common issue
  docs/articles/common_issues.md
Due: docs, preview, deploy

added full release to roadmap
  web/Gemfile.lock
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

bold community how-to
  web/community.html
Due: web, preview-web, deploy-web

0.36.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.Person.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.Person.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.Person.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.Person.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.Person.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.Person.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonAi.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
Due: docs, preview, deploy

improved layout of showcase on mobile
  web/style.css
Due: web, preview-web, deploy-web

added itty to community
  web/_data/community_content.json
  web/media/community/itty-for-tiny-life.png
Due: web, preview-web, deploy-web

remove current in-game news
  InGameNews.md
Due: docs, preview, deploy

updated docfx
  .config/dotnet-tools.json
  docs/toc.yml
Due: docs, preview, deploy

0.37.0-pre.2
  Changelog.md
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.ObjectCategory.yml
  docs/api/TinyLife.Objects.ParentInfo.yml
  docs/api/TinyLife.Objects.Visibility.yml
  docs/api/TinyLife.World.DrawDelegate.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.MapSection.yml
  docs/api/TinyLife.World.ObjectUpdateDelegate-1.yml
  docs/api/TinyLife.World.ObjectUpdateDelegateNoPhase-1.yml
  docs/api/TinyLife.World.UpdateDelegate.yml
  docs/api/TinyLife.World.UpdateDelegateNoPhase.yml
Due: docs, preview, deploy

0.37.0-pre.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.GameImpl.GameMode.yml
  docs/api/TinyLife.Objects.WallLike.yml
  docs/api/TinyLife.Set.yml
  docs/api/TinyLife.Tools.FurniturePlacer.GetCustomPriceDelegate.yml
  docs/api/TinyLife.Tools.FurniturePlacer.yml
  docs/api/TinyLife.Tools.RemoveTool.yml
  docs/api/TinyLife.World.DrawDelegate.yml
  docs/api/TinyLife.World.ExportedLot.yml
  docs/api/TinyLife.World.Lot.WeeklyBillsDelegate.yml
  docs/api/TinyLife.World.LotType.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.ObjectUpdateDelegate-1.yml
  docs/api/TinyLife.World.ObjectUpdateDelegateNoPhase-1.yml
  docs/api/TinyLife.World.Roof.yml
  docs/api/TinyLife.World.RoofStyle.yml
  docs/api/TinyLife.World.Room.yml
  docs/api/TinyLife.World.UpdateDelegate.yml
  docs/api/TinyLife.World.UpdateDelegateNoPhase.yml
  docs/api/TinyLife.World.Wall.yml
Due: docs, preview, deploy

0.37.0
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.GameImpl.GameMode.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.Music.Occasion.yml
  docs/api/TinyLife.Music.yml
  docs/api/TinyLife.Set.yml
  docs/api/TinyLife.Tools.PlayModeTool.StatType.yml
  docs/api/TinyLife.Tools.PlayModeTool.yml
  docs/api/TinyLife.World.DrawDelegate.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.ObjectUpdateDelegate-1.yml
  docs/api/TinyLife.World.ObjectUpdateDelegateNoPhase-1.yml
  docs/api/TinyLife.World.Room.yml
  docs/api/TinyLife.World.Tile.Category.yml
  docs/api/TinyLife.World.Tile.yml
  docs/api/TinyLife.World.UpdateDelegate.yml
  docs/api/TinyLife.World.UpdateDelegateNoPhase.yml
  media/changelog/0.37.0.png
  web/_posts/0.37.0/2023-10-25-0.37.0.md
  web/_posts/0.37.0/23-10-04_13-15-40.png
  web/_posts/0.37.0/23-10-25_11-50-12.png
  web/_posts/0.37.0/23-10-25_11-50-24.png
  web/_posts/0.37.0/23-10-25_11-50-26.png
  web/_posts/0.37.0/Tiny_Life_Q9By4xjS4g.png
  web/_posts/0.37.0/Tiny_Life_QKOY0gJKAy.png
  web/_posts/0.37.0/Tiny_Life_zXB51hIsgd.png
Due: docs, preview, deploy, web, preview-web, deploy-web

roadmap update
  web/_data/roadmap.json
Due: web, preview-web, deploy-web

0.37.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.GenealogyType.yml
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.Person.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.Person.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.Person.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.Person.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.Person.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.Person.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
  docs/api/TinyLife.Relationship.yml
  docs/api/TinyLife.RelationshipType.yml
  docs/api/TinyLife.RomanceType.yml
  docs/api/TinyLife.Tools.TileTool.yml
  docs/api/TinyLife.World.StairsType.yml
  docs/api/TinyLife.World.Wall.yml
  docs/api/TinyLife.World.WallMode.yml
Due: docs, preview, deploy

0.37.4
  Changelog.md
Due: docs, preview, deploy

elaborate on mod crashes
  docs/articles/common_issues.md
Due: docs, preview, deploy

steam awards in-game news
  InGameNews.md
  media/news/SteamAwards2023.png
Due: docs, preview, deploy

reorganize the news post a bit
  InGameNews.md
Due: docs, preview, deploy

even more reorganization
  InGameNews.md
Due: docs, preview, deploy

we don't need the picture
  InGameNews.md
  media/news/SteamAwards2023.png
Due: docs, preview, deploy

reorganized tocs a bit
  docs/articles/cheats.md
  docs/articles/toc.yml
  docs/toc.yml
Due: docs, preview, deploy

note about draft prs
  docs/index.md
Due: docs, preview, deploy

added community modding tutorials section
  docs/articles/community_mod_tutorials.md
  docs/articles/toc.yml
  web/community.html
Due: docs, preview, deploy, web, preview-web, deploy-web

added McChicky's tutorials
  docs/articles/community_mod_tutorials.md
Due: docs, preview, deploy

added another one of chicky's tutorials
  docs/articles/community_mod_tutorials.md
Due: docs, preview, deploy

remove news
  InGameNews.md
Due: docs, preview, deploy

graphics/audio driver issue docs
  docs/articles/common_issues.md
Due: docs, preview, deploy

clean up common issues article
  docs/articles/common_issues.md
Due: docs, preview, deploy

specify asus utility since multiple people have had this issue
  docs/articles/common_issues.md
Due: docs, preview, deploy

Path conditions:
  docs: any of: docs/**, Changelog.md, InGameNews.md
  preview: any of: docs/**, Changelog.md, InGameNews.md
  deploy: any of: docs/**, Changelog.md, InGameNews.md
  web: any of: web/**
  preview-web: any of: web/**
  deploy-web: any of: web/**
