Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:latest
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

oops
  web/_posts/0.38.0/2023-12-06-0.38.0.md
Due: web, preview-web, deploy-web

added some of yellore's content to the showcase
  web/_data/community_content.json
  web/_includes/top.html
  web/community.html
  web/media/community/cute-tinies-in-love.png
  web/media/community/yellore-s-cottage.png
  web/style.css
Due: web, preview-web, deploy-web

added the ability to pass arguments to the cake script
  docs/articles/mod_basics.md
Due: docs, preview, deploy

0.38.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
  docs/api/TinyLife.Uis.Menus.yml
  docs/api/TinyLife.World.ExportedLot.yml
  docs/api/TinyLife.World.Lot.WeeklyBillsDelegate.yml
  docs/api/TinyLife.World.Lot.yml
  docs/api/TinyLife.World.LotType.yml
Due: docs, preview, deploy

added jarvis presso fanart
  web/_data/community_content.json
  web/media/community/jarvis-and-liam.png
  web/media/community/jarvis-presso.png
Due: web, preview-web, deploy-web

0.38.3-pre.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.BehaviorAction-1.yml
  docs/api/TinyLife.Actions.BehaviorAction.yml
  docs/api/TinyLife.Actions.Behaviors.GetAndSitDownBehavior.yml
  docs/api/TinyLife.Actions.Behaviors.PhoneBehavior.yml
  docs/api/TinyLife.Actions.Behaviors.PickUpOrSpawnBehavior.yml
  docs/api/TinyLife.Actions.Behaviors.WorkAtDeskObjectBehavior.yml
  docs/api/TinyLife.Actions.CleanEverythingAction.yml
  docs/api/TinyLife.Actions.DiscardHeldItemAction.yml
  docs/api/TinyLife.Actions.GoHereAction.yml
  docs/api/TinyLife.Actions.HelpAction.yml
  docs/api/TinyLife.Actions.HoldingPersonAction.yml
  docs/api/TinyLife.Actions.MultiAction.Stage.yml
  docs/api/TinyLife.Actions.MultiAction.yml
  docs/api/TinyLife.Actions.OrderFromStaffAction.yml
  docs/api/TinyLife.Actions.OutOfTownAction.yml
  docs/api/TinyLife.Actions.PutAwayAction.yml
  docs/api/TinyLife.Actions.SellAction.yml
  docs/api/TinyLife.Actions.SitAction.yml
  docs/api/TinyLife.Actions.SocialAction.yml
  docs/api/TinyLife.Actions.StoreAction.yml
  docs/api/TinyLife.Actions.TalkAction.yml
  docs/api/TinyLife.Actions.WalkAction.yml
  docs/api/TinyLife.Actions.WorkAction.yml
  docs/api/TinyLife.Actions.yml
  docs/api/TinyLife.Uis.InGameUi.yml
  docs/api/TinyLife.World.DrawDelegate.yml
  docs/api/TinyLife.World.Map.PathfindingNodeConstructDelegate.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.ObjectUpdateDelegate-1.yml
  docs/api/TinyLife.World.ObjectUpdateDelegateNoPhase-1.yml
  docs/api/TinyLife.World.UpdateDelegate.yml
  docs/api/TinyLife.World.UpdateDelegateNoPhase.yml
  docs/api/toc.yml
Due: docs, preview, deploy

Cleaned up the pronoun post, and added an addendum to it
  web/_posts/tt_pronouns/2023-04-15-tt_pronouns.md
Due: web, preview-web, deploy-web

apparently we didn't have any blockquote styling
  web/style.css
Due: web, preview-web, deploy-web

i removed the announcement
  web/_posts/tt_pronouns/2023-04-15-tt_pronouns.md
Due: web, preview-web, deploy-web

added simple object loader
  web/_data/community_content.json
  web/media/community/simple-object-loader.png
Due: web, preview-web, deploy-web

0.38.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.PathfindAction.yml
  docs/api/TinyLife.Debug.CheatDelegate.yml
  docs/api/TinyLife.Debug.DebugDelegate.yml
  docs/api/TinyLife.Debug.yml
  docs/api/TinyLife.Mods.ModInfo.yml
  docs/api/TinyLife.Mods.ModLoader.yml
Due: docs, preview, deploy

also teardown previews with new woodpecker version
  .woodpecker/docs.yml
  .woodpecker/web.yml
Due: none

use specific ruby version
  .woodpecker/web.yml
Due: none

also make this strong
  docs/articles/community_mod_tutorials.md
Due: docs, preview, deploy

we're not on .net 7 anymore silly
  docs/articles/common_issues.md
Due: docs, preview, deploy

made all the fanart 16:9
  web/_data/community_content.json
  web/media/community/business-rivals.png
  web/media/community/cute-tinies-in-love.png
  web/media/community/jarvis-and-liam.png
  web/media/community/jarvis-presso.png
  web/media/community/study-brand.png
  web/media/community/study-brewed.png
  web/media/community/study-cafe.png
Due: web, preview-web, deploy-web

let's try this out
  .forgejo/workflows/web.yml
Due: none

wrong source control oops
  .github/workflows/web.yml
Due: none

use the correct gemfile
  .github/workflows/web.yml
Due: none

also allow linux in gemfile
  web/Gemfile.lock
Due: web, preview-web, deploy-web

forgot that gh actions doesn't allow this
  .github/workflows/web.yml
Due: none

oh no
  .github/workflows/web.yml
Due: none

permissions????? hate this
  .github/workflows/web.yml
Due: none

tested this in private so much that i thought itd just work hahahahhahaha
  .github/workflows/web.yml
Due: none

combine some of these
  .github/workflows/web.yml
Due: none

gonna cry
  .github/workflows/web.yml
Due: none

make rsync verbose
  .github/workflows/web.yml
Due: none

only deploy on main branch
  .github/workflows/web.yml
Due: none

also add action for docs
  .github/workflows/docs.yml
  .woodpecker/docs.yml
  .woodpecker/web.yml
Due: none

combine the workflows
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/web.yml
Due: none

added surge preview to actions
  .github/workflows/build.yml
Due: none

test commit
  web/_includes/about.html
Due: web, preview-web, deploy-web

add permissions for surge preview to comment
  .github/workflows/build.yml
Due: none
