Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

.woodpecker/docs.yml:

when:
  path:
    include:
      - "docs/**"
      - "Changelog.md"
      - "InGameNews.md"
steps:
  build:
    image: mcr.microsoft.com/dotnet/sdk:7.0.305
    commands:
      - cd docs && dotnet tool restore && dotnet docfx
  preview:
    image: woodpeckerci/plugin-surge-preview
    when:
      event: pull_request
    settings:
      path: docs/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy:
    image: debian:latest
    when:
      event: [push, manual]
      branch: main
    commands:
      - rm -rfv /var/www/tinylifedocs/*
      - cp -rv docs/_site/. /var/www/tinylifedocs
    volumes:
      - /var/www/tinylifedocs:/var/www/tinylifedocs

.woodpecker/web.yml:

when:
  path: "web/**"
steps:
  build-web:
    image: ruby:3.2.2
    commands:
      - cd web && bundle && bundle exec jekyll build
  preview-web:
    image: woodpeckerci/plugin-surge-preview:1.3.0
    when:
      event: [pull_request, pull_request_closed]
    settings:
      path: web/_site
      surge_token:
        from_secret: surge_token
      forge_type: github
      forge_url: https://github.com
      forge_repo_token:
        from_secret: github_token
  deploy-web:
    image: debian:latest
    when:
      - event: [push, manual]
        branch: main
    commands:
      - rm -rfv /var/www/tinylifegame/*
      - cp -rv web/_site/. /var/www/tinylifegame
    volumes:
      - /var/www/tinylifegame:/var/www/tinylifegame

change jamal green's url to a live one
  Changelog.md
  web/_data/__credits.json
  web/_posts/0.28.0/2022-12-20-0.28.0.md
  web/_posts/0.37.0/2023-10-25-0.37.0.md
  web/_posts/0.41.0/2024-04-14-0.41.0.md
  web/_posts/2021-08-30-0.16.0.md
Due: docs, preview, deploy, web, preview-web, deploy-web

use better link checker
  .github/workflows/checks.yml
Due: none

fix various links
  web/_posts/0.42.0/2024-06-09-0.42.0.md
  web/_posts/0.48.0/2025-09-23-0.48.0.md
Due: web, preview-web, deploy-web

use longer retry time for link checks
  .github/workflows/checks.yml
Due: none

fix arg
  .github/workflows/checks.yml
Due: none

update in-game news
  InGameNews.md
Due: docs, preview, deploy

reword to stop using AI terminiology for autonomy
  web/_data/features.json
  web/_includes/devlogs.html
  web/_includes/faq.md
Due: web, preview-web, deploy-web

0.50.1
  Changelog.md
Due: docs, preview, deploy

Update InGameNews.md
  InGameNews.md
Due: docs, preview, deploy

Create LICENSE.txt
  LICENSE.txt
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

0.50.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.TypeSettings.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.OutOfTownIntention.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Objects.Gravestone.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.PerSaveOptions.yml
  docs/api/TinyLife.Tools.FurniturePlacer.yml
  docs/api/TinyLife.Tools.FurnitureTool.Tab.yml
  docs/api/TinyLife.World.LotType.yml
Due: docs, preview, deploy

clean up getting custom content doc
  docs/articles/getting.md
Due: docs, preview, deploy

clean up ai-generated content faq entry with wording from the policy
  web/_includes/faq.md
Due: web, preview-web, deploy-web

wrong casing
  web/_includes/faq.md
Due: web, preview-web, deploy-web

another title refactor
  web/_includes/faq.md
Due: web, preview-web, deploy-web

added the ability to report policy violations
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

revert unintentional edit
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

added toc to content policy
  web/content_policy.html
Due: web, preview-web, deploy-web

shorten policy intro
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

reword intro again
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

disallow ai-generated content
  docs/articles/localization.md
  web/_includes/content_policy.md
  web/_includes/faq.md
Due: docs, preview, deploy, web, preview-web, deploy-web

0.50.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionArgument.yml
  docs/api/TinyLife.HintMode.yml
  docs/api/TinyLife.PerSaveOptions.yml
  docs/api/TinyLife.yml
  docs/api/toc.yml
Due: docs, preview, deploy

tiny teams notif yay
  InGameNews.md
  media/news/TinyTeamsHeader.png
Due: docs, preview, deploy

increase link checker timeout for steam and instagram
  .github/workflows/checks.yml
Due: none

make lychee verbose
  .github/workflows/checks.yml
Due: none

remove tiny teams news
  InGameNews.md
Due: docs, preview, deploy

0.50.5
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.Action.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.DeferredAction.yml
  docs/api/TinyLife.Actions.DiscardHeldItemAction.yml
  docs/api/TinyLife.Actions.GoHereIshAction.yml
  docs/api/TinyLife.Actions.TryMultipleAction.yml
  docs/api/TinyLife.Actions.yml
  docs/api/TinyLife.BabysitterHireMode.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.Objects.ActionSpot.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.PerSaveOptions.yml
  docs/api/TinyLife.Utilities.Extensions.yml
  docs/api/TinyLife.World.AutoTile.yml
  docs/api/TinyLife.World.Lot.yml
  docs/api/TinyLife.World.Room.yml
  docs/api/TinyLife.World.Tile.yml
  docs/api/TinyLife.World.WaterTile.yml
  docs/api/TinyLife.yml
  docs/api/toc.yml
  web/_data/__credits.json
Due: docs, preview, deploy, web, preview-web, deploy-web

remove changelog steam notice
  Changelog.md
Due: docs, preview, deploy

increase steam thumbnail size for the new workshop design
  docs/articles/custom_maps.md
Due: docs, preview, deploy

0.50.8
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.Objects.Fountain.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Objects.yml
  docs/api/TinyLife.Options.yml
  docs/api/TinyLife.SaveHandler.SaveData.yml
  docs/api/TinyLife.Uis.InGameHint.yml
  docs/api/TinyLife.Utilities.DefaultSound.yml
  docs/api/toc.yml
Due: docs, preview, deploy
