Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

docs:
  steps:
    build:
      image: mcr.microsoft.com/dotnet/sdk:7.0.305
      commands:
      - cd docs && dotnet tool restore && dotnet docfx
    preview:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: docs/_site
        surge_token:
  ...

preview:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: docs/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifedocs/*
  - cp -rv docs/_site/. /var/www/tinylifedocs
  volumes:
  - /var/www/tinylifedocs:/var/www/tinylifedocs

web:
  steps:
    build-web:
      image: ruby:3.2.2
      commands:
      - cd web && bundle && bundle exec jekyll build
    preview-web:
      image: woodpeckerci/plugin-surge-preview:1.3.0
      when:
        event:
        - pull_request
        - pull_request_closed
      settings:
        path: web/_site
        surge_token:
  ...

preview-web:
  image: woodpeckerci/plugin-surge-preview:1.3.0
  settings:
    path: web/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy-web:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifegame/*
  - cp -rv web/_site/. /var/www/tinylifegame
  volumes:
  - /var/www/tinylifegame:/var/www/tinylifegame

small phrasing fix
  web/_includes/faq.md
Due: web, preview-web, deploy-web

console & mobile release info
  web/_includes/faq.md
Due: web, preview-web, deploy-web

small faq phrasing imrpovements
  web/_includes/faq.md
Due: web, preview-web, deploy-web

slight reword to the faq's age section
  web/_includes/faq.md
Due: web, preview-web, deploy-web

better separate sections in sub-pages
  web/changelog.html
  web/common_issues.html
  web/content_policy.html
  web/faq.html
  web/preview.html
  web/style.css
Due: web, preview-web, deploy-web

q&a entry for W O K E
  web/_includes/faq.md
Due: web, preview-web, deploy-web

typo
  web/_includes/faq.md
Due: web, preview-web, deploy-web

added info about sets and the demo to the faq
  web/_includes/faq.md
Due: web, preview-web, deploy-web

demake faq
  web/_includes/faq.md
Due: web, preview-web, deploy-web

clean up mobile title
  web/_includes/faq.md
Due: web, preview-web, deploy-web

slight demake reword
  web/_includes/faq.md
Due: web, preview-web, deploy-web

remove accent badges
  docs/articles/localization.md
Due: docs, preview, deploy

0.49.2
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.Action.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Objects.ILightObject.Settings.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.World.Map.yml
  web/_data/__credits.json
Due: docs, preview, deploy, web, preview-web, deploy-web

0.49.3
  Changelog.md
Due: docs, preview, deploy

ref the example mod on the sample code site
  docs/articles/sample_code.md
Due: docs, preview, deploy

0.49.4
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.Behaviors.ComputerBehavior.yml
  docs/api/TinyLife.Actions.Behaviors.WorkAtDeskObjectBehavior.yml
  docs/api/TinyLife.Actions.Behaviors.WorkWithBreaksAnimator.yml
  docs/api/TinyLife.Emotions.EmotionModifier.yml
  docs/api/TinyLife.GameImpl.yml
  docs/api/TinyLife.Tools.MoveLotTool.yml
  docs/api/TinyLife.Tools.MoveTool.yml
  docs/api/TinyLife.Tools.Tool.yml
  docs/api/TinyLife.World.Lot.yml
  docs/api/TinyLife.World.Map.yml
  docs/articles/launch_args.md
Due: docs, preview, deploy

Finally Addressing Tiny Life's Gender Issue
  web/_posts/gender_issue/2026-04-01-gender-issue.md
  web/_posts/gender_issue/TinyLife_8X6Jnq8Bu8.png
  web/_posts/gender_issue/TinyLife_NsrTHY4IRZ.png
  web/_posts/gender_issue/TinyLife_qJGW1gAWBp.png
Due: web, preview-web, deploy-web

it's been long enough
  web/_posts/gender_issue/2026-04-01-gender-issue.md
Due: web, preview-web, deploy-web

0.49.5
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Objects.BreakableFurniture.yml
  docs/api/TinyLife.Objects.Fridge.yml
  docs/api/TinyLife.Objects.Furniture.yml
  docs/api/TinyLife.Objects.FurnitureType.yml
  docs/api/TinyLife.Objects.MapObject.yml
  docs/api/TinyLife.Objects.Particle.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.TypeSettings.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.TrashCan.yml
  docs/api/TinyLife.Objects.Vehicle.yml
  docs/api/TinyLife.Options.yml
  docs/api/TinyLife.Tools.CanPlaceResult.yml
  docs/api/TinyLife.Tools.LotTool.yml
  docs/api/TinyLife.Tools.PlayModeTool.Tab.yml
  docs/api/TinyLife.Tools.PlayModeTool.yml
  docs/api/TinyLife.Tools.yml
  docs/api/TinyLife.Uis.Menus.yml
  docs/api/TinyLife.Utilities.ColorScheme.yml
  docs/api/TinyLife.Utilities.Extensions.yml
  docs/api/TinyLife.World.AutoTile.yml
  docs/api/TinyLife.World.ExportedLot.yml
  docs/api/TinyLife.World.FenceType.yml
  docs/api/TinyLife.World.FenceWall.yml
  docs/api/TinyLife.World.Lot.yml
  docs/api/TinyLife.World.Map.DrawEventArgs.yml
  docs/api/TinyLife.World.Map.yml
  docs/api/TinyLife.World.MapSection.yml
  docs/api/TinyLife.World.OpeningType.yml
  docs/api/TinyLife.World.Tile.yml
  docs/api/TinyLife.World.Wall.yml
  docs/api/TinyLife.World.WallLike.yml
  docs/api/TinyLife.World.WaterTile.yml
  docs/api/toc.yml
  docs/articles/launch_args.md
Due: docs, preview, deploy

update in-game news
  InGameNews.md
Due: docs, preview, deploy

some improvements to the custom maps doc article
  docs/articles/custom_maps.md
Due: docs, preview, deploy

added wiki to in-game news
  InGameNews.md
  media/news/Wiki.png
Due: docs, preview, deploy

use visit counting link
  InGameNews.md
Due: docs, preview, deploy

added JT review
  web/_data/reviews.json
Due: web, preview-web, deploy-web

no not that
  web/_data/reviews.json
Due: web, preview-web, deploy-web

clean up review section a bit
  web/_includes/about.html
  web/_includes/footer.html
  web/_includes/indexnav.html
Due: web, preview-web, deploy-web

wrap in p
  web/_includes/about.html
Due: web, preview-web, deploy-web

add common issues entry for very low FPS
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

fix typo
  web/_includes/common_issues.md
Due: web, preview-web, deploy-web

gardening sneak peek news
  InGameNews.md
  media/news/Gardening.jpg
Due: docs, preview, deploy

lot border docs
  docs/articles/custom_maps.md
Due: docs, preview, deploy

mention body types in diversity faq entry
  web/_includes/faq.md
Due: web, preview-web, deploy-web

fix anchor link
  web/_includes/faq.md
Due: web, preview-web, deploy-web

don't use joiner emoji in headings for urls
  web/_includes/faq.md
Due: web, preview-web, deploy-web

use an emoji that our font doesn't have an awful version of
  web/_includes/faq.md
Due: web, preview-web, deploy-web

clear up localization account situation
  docs/articles/localization.md
Due: docs, preview, deploy

add pride in-game news
  InGameNews.md
Due: docs, preview, deploy

Path conditions:
  docs: any of: docs/**, Changelog.md, InGameNews.md
  preview: any of: docs/**, Changelog.md, InGameNews.md
  deploy: any of: docs/**, Changelog.md, InGameNews.md
  web: any of: web/**
  preview-web: any of: web/**
  deploy-web: any of: web/**
