Repository Ellpeck/TinyLifeWeb: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, preview, deploy, web, preview-web, deploy-web

docs:
  steps:
    build:
      image: mcr.microsoft.com/dotnet/sdk:7.0.305
      commands:
      - cd docs && dotnet tool restore && dotnet docfx
    preview:
      image: woodpeckerci/plugin-surge-preview
      when:
        event: pull_request
      settings:
        path: docs/_site
        surge_token:
  ...

preview:
  image: woodpeckerci/plugin-surge-preview
  settings:
    path: docs/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifedocs/*
  - cp -rv docs/_site/. /var/www/tinylifedocs
  volumes:
  - /var/www/tinylifedocs:/var/www/tinylifedocs

web:
  steps:
    build-web:
      image: ruby:3.2.2
      commands:
      - cd web && bundle && bundle exec jekyll build
    preview-web:
      image: woodpeckerci/plugin-surge-preview:1.3.0
      when:
        event:
        - pull_request
        - pull_request_closed
      settings:
        path: web/_site
        surge_token:
  ...

preview-web:
  image: woodpeckerci/plugin-surge-preview:1.3.0
  settings:
    path: web/_site
    surge_token:
      from_secret: surge_token
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: github_token

deploy-web:
  image: debian:latest
  commands:
  - rm -rfv /var/www/tinylifegame/*
  - cp -rv web/_site/. /var/www/tinylifegame
  volumes:
  - /var/www/tinylifegame:/var/www/tinylifegame

update in-game news to reflect august
  InGameNews.md
Due: docs, preview, deploy

more robust rewrite conditions for feedback form
  web/.htaccess
Due: web, preview-web, deploy-web

escape question marks
  web/.htaccess
Due: web, preview-web, deploy-web

explicitly start the query string with a ?
  web/.htaccess
Due: web, preview-web, deploy-web

add some additional feedback form arguments
  web/.htaccess
Due: web, preview-web, deploy-web

0.43.1
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
  docs/api/TinyLife.Uis.Menus.yml
  docs/api/TinyLife.World.ExportedHousehold.yml
  docs/api/TinyLife.World.ExportedLot.yml
  docs/api/TinyLife.World.Household.yml
  docs/api/TinyLife.World.Lot.yml
  docs/api/TinyLife.World.LotEmployment.Instance.yml
  docs/api/TinyLife.World.LotType.yml
Due: docs, preview, deploy

0.43.3
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Actions.ActionType.AiSettings.yml
  docs/api/TinyLife.Actions.ActionType.yml
  docs/api/TinyLife.Actions.DiscardHeldItemAction.yml
  docs/api/TinyLife.Actions.TalkAction.TalkSettings.EvaluationResult.yml
  docs/api/TinyLife.Actions.TalkAction.TalkSettings.yml
  docs/api/TinyLife.Actions.TalkAction.yml
  docs/api/TinyLife.Debug.CheatDelegate.yml
  docs/api/TinyLife.Debug.DebugDelegate.yml
  docs/api/TinyLife.GameImpl.GameMode.yml
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.AddEmotionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.AiPriorityForObjectDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveReductionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.SkillBoostDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
  docs/api/TinyLife.SaveHandler.SaveData.yml
  docs/api/TinyLife.SaveHandler.yml
  docs/api/TinyLife.Set.yml
  docs/api/TinyLife.Uis.Menus.TransitionType.yml
Due: docs, preview, deploy

0.43.4
  Changelog.md
  docs/api/.manifest
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.Person.yml
  docs/api/TinyLife.Objects.PersonLike.AddEmotionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.AiPriorityForObjectDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveReductionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.SkillBoostDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
  docs/api/TinyLife.SaveHandler.SaveData.yml
Due: docs, preview, deploy

0.43.5
  Changelog.md
  docs/api/TinyLife.Objects.AgeGroup.yml
  docs/api/TinyLife.Objects.CornerFurniture.Counter.yml
  docs/api/TinyLife.Objects.DeathReason.yml
  docs/api/TinyLife.Objects.FenceType.yml
  docs/api/TinyLife.Objects.LifeSpan.yml
  docs/api/TinyLife.Objects.PersonLike.AddEmotionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.AiPriorityForObjectDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EfficiencyModifierDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.EmotionModifiersChangedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveActionPriorityDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.PassiveReductionDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RelationshipChangeDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.RestoreNeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.SkillBoostDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.WalkSpeedDelegate.yml
  docs/api/TinyLife.Objects.PersonLike.yml
  docs/api/TinyLife.Objects.Pose.yml
  docs/api/TinyLife.Objects.PregnancyAbility.yml
  docs/api/TinyLife.Objects.SpeakStyle.yml
  docs/api/TinyLife.Objects.VoiceStyle.yml
Due: docs, preview, deploy

suppress diffs and stats for generated api yamls
  .gitattributes
Due: none

info abt the checks tab in the localization software
  docs/articles/localization.md
Due: docs, preview, deploy

use catppuccin code style
  web/_layouts/blog.html
Due: web, preview-web, deploy-web

add feed meta
  web/_layouts/default.html
Due: web, preview-web, deploy-web

improved the footer
  web/_includes/footer.html
  web/_layouts/default.html
  web/media/hsv_dark.png
  web/media/hsv_light.png
  web/style.css
Due: web, preview-web, deploy-web

added navigation to the changelog and blog posts
  web/_includes/blognav.html
  web/_includes/changelognav.html
  web/_includes/navbar.html
  web/_includes/tocnavitem.html
  web/changelog.html
  web/style.css
Due: web, preview-web, deploy-web

also include nav in common issues article
  web/_includes/tocnavitem.html
  web/common_issues.html
Due: web, preview-web, deploy-web

added additional links to the footer
  web/_includes/footer.html
  web/style.css
Due: web, preview-web, deploy-web

added game logo to footer
  web/_includes/footer.html
  web/media/game.png
Due: web, preview-web, deploy-web

clear in-game news
  InGameNews.md
Due: docs, preview, deploy

also copy the changelog and in-game news raw files to the site
  web/_plugins/copy_changelog_news.rb
Due: web, preview-web, deploy-web

0.43.10
  Changelog.md
Due: docs, preview, deploy

highlight the translation errors log info more thoroughly
  docs/articles/localization.md
Due: docs, preview, deploy

clear up "checks" section info in localization doc
  docs/articles/localization.md
Due: docs, preview, deploy

make the link on the content policy clickable
  web/_includes/content_policy.md
Due: web, preview-web, deploy-web

small phrasing fixup in pronouns post
  web/_posts/tt_pronouns/2023-04-15-tt_pronouns.md
Due: web, preview-web, deploy-web

removed language overrides info
  docs/articles/localization.md
Due: docs, preview, deploy

clean up Language Overrides section in docs
  docs/articles/localization.md
Due: docs, preview, deploy

added reviews section to website
  web/_data/reviews.json
  web/_includes/about.html
  web/style.css
Due: web, preview-web, deploy-web

note a caveat about lot employments in custom maps doc
  docs/articles/custom_maps.md
Due: docs, preview, deploy

typo
  docs/articles/custom_maps.md
Due: docs, preview, deploy

clearer phrasing
  docs/articles/custom_maps.md
Due: docs, preview, deploy

added changelog to footer
  web/_includes/footer.html
Due: web, preview-web, deploy-web

Path conditions:
  docs: any of: docs/**, Changelog.md, InGameNews.md
  preview: any of: docs/**, Changelog.md, InGameNews.md
  deploy: any of: docs/**, Changelog.md, InGameNews.md
  web: any of: web/**
  preview-web: any of: web/**
  deploy-web: any of: web/**
